@font-face {
  font-family: 'header2';
  src: url('../font/Mustang.otf'); 
}
@font-face {
  font-family: 'header';
  src: url('../font/Ailerons-Typeface.otf'); 
}

.head-color{
	background-color: rgba(0,0,0,.6);
	min-height: 100vh;
}
.head-bg{
	text-align: center;
    color: #f8f8f8;
    background: url(../img/backTop.jpg) no-repeat top center;
    background-size: cover;
	min-height: 100vh;
}
.head-text{
	font-family: 'header';
	padding: 30vh 0 0 0;
}
.head-text h1{
	font-size: 10vw !important;
	background: -webkit-linear-gradient(left, #5ec7c0, #b93950);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.head-desc{
	font-family: 'header2';
}
.head-desc h2{
	font-size: 5vw !important;
		background: -webkit-linear-gradient(left, #5ec7c0, #b93950);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}